
  <div class="col-xs-9" style="height: inherit;">
    <div id="map"></div>
  </div>

  <div class = "col-xs-3 text-center">
    <h2> SF Movie Locator </h2>
    <p> Search your favorite director or movie and see where they were filmed in SF!</p>
  </div>

    <div class="container col-xs-3">
      <ul class="nav nav-pills" data-contiainer="search-type">
        <li class="nav active" value="title"><a href="#" data-toggle="tab" aria-expanded="true">Movie</a></li>
        <li class="nav" value="director"><a href="#" data-toggle="tab" aria-expanded="false">Director</a></li>
      </ul>
    </div>

  <div class='col-xs-3 text-center' >
    <input class = "form-control" type="text" placeholder= "search by director" data-query-param="director_name">
  </div>

  <div class='col-xs-3 text-center'>
    <input class = "form-control" type="text" placeholder= "search by movie name" data-query-param="title_name">
  </div>

  <div class="col-xs-3 text-center">
    <ul data-container="results" class="dropdown-menu" role="menu"></ul>
  </div>





