<div class="row" style="height: inherit;">
  <div class='col-xs-12'>
    <input type="text" data-query-param="director_name">
    <button id="director_search" type="button">search</button></form>    
  </div>

  <div class="col-xs-9" style="height: inherit;">
    <div id="map"></div>
  </div>
  <div class="col-xs-3">
    <div data-container="results"></div>
    
  </div>
</div>




