<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript"  src="javascripts/handlebars.js"></script>
    <script type="text/javascript"  src="javascripts/bootstrap.js"></script>
    <script type="text/javascript"  src="javascripts/sf_movie.js"></script>
  </body>
</html>
